html,body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #2b3a42;

    display: flex;
    justify-content: center;
    align-items: center;
}

.webpack-logo {
    width: 100%;
    height: 200px;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cube-inner {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    /*border: 1px solid green;*/

    transform-style: preserve-3d;
    transform: rotateX(-33.5deg) rotateY(45deg);

    animation: loopInner 6s ease-in-out infinite;
}

@keyframes loopInner {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg);
    }

    50%, 100% {
        transform:  rotateX(-33.5deg) rotateY(-315deg)
    }
}

.cube-inner li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #175d96;
    border: 1px solid white;
}

.cube-inner .top {
    transform: rotateX(90deg) translateZ(25px);
}

.cube-inner .bottom {
    transform: rotateX(-90deg) translateZ(25px);
}

.cube-inner .front {
    transform: translateZ(25px);
}

.cube-inner .back {
    transform: translateZ(-25px);
}

.cube-inner .left {
    transform: rotateY(-90deg) translateZ(25px);
}

.cube-inner .right {
    transform: rotateY(90deg) translateZ(25px);
}


.cube-outer {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    /*border: 1px solid green;*/

    transform-style: preserve-3d;
    transform: rotateX(-33.5deg) rotateY(45deg);

    animation: loopOuter 6s ease-in-out infinite;
}

@keyframes loopOuter {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg);
    }

    50%, 100% {
        transform: rotateX(-33.5deg) rotateY(405deg);
    }
}

.cube-outer li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(141, 214, 249, 0.5);
    border: 1px solid white;
}

.cube-outer .top {
    transform: rotateX(90deg) translateZ(50px);
}

.cube-outer .bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.cube-outer .front {
    transform: translateZ(50px);
}

.cube-outer .back {
    transform: translateZ(-50px);
}

.cube-outer .left {
    transform: rotateY(-90deg) translateZ(50px);
}

.cube-outer .right {
    transform: rotateY(90deg) translateZ(50px);
}

